/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* CSS Declarations */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('./images/catalina.png') no-repeat center center/cover;
  position: absolute;
  top: -85px;
  left: -85px;
  width: calc(
    100vw + 190px
  ); /* This is better for the image and resolution I used */
  height: calc(
    100vh + 190px
  ); /* This is better for the image and resolution I used */
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: white;
}
